<div class="col col-lg-4">
    <div class="card m-3">
        <div class="card-img-top bg-secondary-subtle fs-1 d-grid justify-content-center align-content-center p-5">
            <i class="bi bi-calendar-check"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3">Event 1</h5>
            <p class="card-text text-danger mb-3">@(date.ToString("ddd, MMM d, yyyy"))</p>
            <h6 class="card-subtitle mb-2 text-muted">test@example.com</h6>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-sm btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@code {
  // placeholder for event card date
  DateTime date = new DateTime(2024, 08, 13);
}
